env_variables:
  MAILGUN_API_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  TYPETALK_CLIENT_ID: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  TYPETALK_CLIENT_SECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

  TYPETALK_BOT_POST_URL: "https://typetalk.com/api/v1/topics/11111?typetalkToken=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

  GOOGLE_APPLICATION_CREDENTIALS: "typetalkmailgun-serviceaccount-key.json"
  CLOUD_STORE_KIND: "mailgun-to-typetalk"
